<h1>Welcome, Former Dark Side Cannon Fodder!</h1>
<p>Click an Animal For More Details</p>
  #foreach ($animal in $allAnimals)
    <ul>
      <li><a href="/customer/$individualCustomer.getId()/animals/$animal.getId()">$animal.getAnimalName()</a></li>
    </ul>
  #end
