$individualAnimal.getAnimalName()<br>
$individualAnimal.getBreedType()<br>
$individualAnimal.getGender()<br>

<a href="customer/$individualCustomer.getId()/animals/$individualAnimal.getId()/adopt">Adopt me!</a>
