<h1>Welcome To Noah's Ark Animal Shelter!</h1>
<p>Click an Animal for more details</p>
  #foreach ($animal in $allAnimals)
    <ul>
      <li><a href="/customer/$individualCustomer.getId()/animals/$animal.getId()">$animal.getAnimalName()</a></li>
    </ul>
  #end
