Hello, $individualCustomer.getCustomerName(),<br>
You are looking for $individualCustomer.getBreedPreference() $individualCustomer.getAnimalPreference()</br>

#if ($individualCustomer.checkAdoptionStatus() == (0))
  <a href="/customer/$individualCustomer.getId()/animals">You have not yet adopted something small and fuzzy! Click here to find a friend.</a></br>
#else
  You already have a friend. Leave the rest for some other loser who needs to buy friends on the internet.
#end
